.container {
  display: flex;
  width: 300px;
  height: 150px;
  padding: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.metric {
  font-size: 48px;
  color: var(--text);
}
