.container {
  --padding: 16px;
  display: flex;
  width: calc(300px - var(--padding));
  height: calc(150px - var(--padding));
  padding: var(--padding);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: var(--background);
  border-radius: var(--border-radius);
}
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.metric {
  font-size: 64px;
  color: var(--text);
}
